<html layout:decorate="~{layout}">
<div layout:fragment="header">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</div>
<div layout:fragment="content">
    <section class="bg-white dark:bg-gray-900">
        <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
            <div class="lg:mt-0 lg:col-span-4 sm:order-1 md:order-1 lg:order-2 xl:order-2 mt-2">
                <form class="px-4 max-w-md mx-auto flex-col w-full">
                    <label for="search_query"
                           class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <input type="search" id="search_query"
                               class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500"
                               placeholder="문제번호, 알고리즘, 제목 검색" required th:value="${kw}"/>
                        <button type="submit" id="btn_search"
                                class="text-white absolute end-2.5 bottom-2.5 bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">
                            Search
                        </button>
                    </div>
                </form>

                <label class="inline-flex items-end cursor-pointer justify-end px-4 pt-2 max-w-md mx-auto w-full">
                    <span class="ms-3 w-2/5 text-sm font-medium text-gray-900 dark:text-gray-300">알고리즘 분류 가리기</span>
                    <input type="checkbox" id="algorithm-toggle" class="sr-only peer" checked>
                    <!--                <input type="checkbox" class="toggle toggle-lg" checked="checked"/>-->
                    <div class="relative w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-purple-300 dark:peer-focus:ring-purple-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-purple-600"></div>
                </label>
                <!--  페이징 관련  -->
                <nav aria-label="Page navigation example" class="px-6 mt-2 max-w-md mx-auto flex-col w-full"
                     th:if="${!paging.isEmpty()}">
                    <ul class="inline-flex -space-x-px text-base h-10 justify-items-center">
                        <li class="page-item">
                            <a th:if="${paging.hasPrevious}" href="javascript:void(0)"
                               th:data-page="${paging.number -1}"
                               class="page-link flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                            <a th:unless="${paging.hasPrevious}" href="javascript:void(0)"
                               th:data-page="${paging.number}"
                               class="page-link flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(0, paging.totalPages - 1)}"
                            th:if="${paging.number <= 1 ? page < 5 : (page >= (paging.number - 2) and page <= (paging.number + 2))}"
                            th:classappend="${page == paging.number} ? 'text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' : 'leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'">
                            <a href="javascript:void(0)" th:data-page="${page}" th:text="${page + 1}"
                               class="page-link flex items-center justify-center px-4 h-10"></a>
                        </li>
                        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                            <a th:if="${paging.hasNext}" href="javascript:void(0)" th:data-page="${paging.number + 1}"
                               class="page-link flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                            <a th:unless="${paging.hasNext}" href="javascript:void(0)" th:data-page="${paging.number}"
                               class="page-link flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                        </li>
                    </ul>
                </nav>
                <!--  페이징 끝  -->
            </div>
            <div class="mr-auto place-self-center lg:col-span-8 sm:order-2 md:order-2 lg:order-1 xl:order-1 w-full">
                <div class="flex w-full flex-col lg:flex-row">

                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full">
                        <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">문제 목록 (많이 푼 문제는 검색기능을 지원하지
                            않습니다.)</h3>
                        <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-2">
                            <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                    <div class="flex items-center ps-3">
                                        <input checked id="radio_all" type="radio" value="NONE" name="radio_list"
                                               th:checked="${types == 'NONE'}"
                                               class="radio_list w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="radio_all"
                                               class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">전체
                                        </label>
                                    </div>
                                </li>
                                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                    <div class="flex items-center ps-3">
                                        <input id="radio_bronze" type="radio" value="BRONZE" name="radio_list"
                                               th:checked="${types == 'BRONZE'}"
                                               class="radio_list w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="radio_bronze"
                                               class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">브론즈
                                        </label>
                                    </div>
                                </li>
                                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                    <div class="flex items-center ps-3">
                                        <input id="radio_silver" type="radio" value="SILVER" name="radio_list"
                                               th:checked="${types == 'SILVER'}"
                                               class="radio_list w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="radio_silver"
                                               class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">실버
                                        </label>
                                    </div>
                                </li>
                                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                    <div class="flex items-center ps-3">
                                        <input id="radio_gold" type="radio" value="GOLD" name="radio_list"
                                               th:checked="${types == 'GOLD'}"
                                               class="radio_list w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="radio_gold"
                                               class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">골드
                                        </label>
                                    </div>
                                </li>
                                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                    <div class="flex items-center ps-3">
                                        <input id="radio_platinum" type="radio" value="PLATINUM" name="radio_list"
                                               th:checked="${types == 'PLATINUM'}"
                                               class="radio_list w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="radio_platinum"
                                               class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">플래티넘
                                        </label>
                                    </div>
                                </li>
                                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                    <div class="flex items-center ps-3">
                                        <input id="radio_favorite" type="radio" value="FAVORITE" name="radio_list"
                                               th:checked="${types == 'FAVORITE'}"
                                               class="radio_list w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="radio_favorite"
                                               class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">많이
                                            푼
                                        </label>
                                    </div>
                                </li>
                                <li class="w-full dark:border-gray-600" sec:authorize="isAuthenticated()">
                                    <div class="flex items-center ps-3">
                                        <input id="radio_saved" type="radio" value="SAVED" name="radio_list"
                                               th:checked="${types == 'SAVED'}"
                                               class="radio_list w-4 h-4 text-purple-600 bg-gray-100 border-gray-300 focus:ring-purple-500 dark:focus:ring-purple-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="radio_saved"
                                               class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">저장한
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-3 py-3 w-1/12">
                                    저장
                                </th>
                                <th scope="col" class="px-3 py-3 w-1/12">
                                    번호
                                </th>
                                <th scope="col" class="px-3 py-3 w-3/12">
                                    제목
                                </th>
                                <th scope="col" class="px-3 py-3 w-2/12">
                                    티어
                                </th>
                                <th scope="col" class="px-3 py-3 w-4/12">
                                    알고리즘
                                </th>
                                <th scope="col" class="px-3 py-3 w-1/12">
                                    링크
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="problem, loop: ${paging}"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <td class="px-3 py-4">
                                    <form method="post" name="saveForm" th:id="'saveForm' + ${problem.id}">
                                        <a href="javascript:void(0);"
                                           sec:authorize="isAuthenticated()"
                                           th:if="${#authentication.isAuthenticated()}"
                                           th:data-uri="@{|/user/save/problem/${problem.id}|}"
                                           class="save-button h-full w-full font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                            <img src="/images/heart_filled.svg"
                                                 th:if="${userSaved.contains(problem.id)}" alt="save_cancel_icon"/>
                                            <img src="/images/heart_outline.svg"
                                                 th:unless="${userSaved.contains(problem.id)}" alt="save_icon"/>
                                        </a>
                                        <img sec:authorize="isAnonymous()"
                                             src="/images/heart_outline.svg" alt="save_icon"/>
                                    </form>
                                </td>
                                <th scope="row"
                                    class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <a th:href="@{|https://acmicpc.net/problem/${problem.id}|}" th:target="_blank"
                                       th:text="${problem.id}"></a>
                                </th>
                                <td class="px-3 py-4d font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <a th:href="@{|https://acmicpc.net/problem/${problem.id}|}" th:target="_blank"
                                       th:text="${problem.solvedCount != 0} ? ${problem.title + ' (' + problem.solvedCount + '명)'} : ${problem.title}"></a>
                                </td>
                                <td th:text="${problem.getStringLevel}" class="px-3 py-4">
                                </td>
                                <td th:attr="data-original-text=${problem.getTagName}" th:text="${problem.getTagName}"
                                    class="px-3 py-4 toggle-content">
                                </td>
                                <td class="px-3 py-4">
                                    <a th:href="@{|https://acmicpc.net/problem/${problem.id}|}" th:target="_blank"
                                       class="font-medium text-blue-600 dark:text-blue-500 hover:underline">풀기
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <form th:action="@{/problem}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
        <input type="hidden" id="types" name="types" th:value="${types}">
    </form>
    <script src="/jquery-3.7.1.js"></script>
</div>

<script layout:fragment="script" type="text/javascript">
    document.getElementById('algorithm-toggle').addEventListener('change', function () {
        toggleContentVisibility(this.checked);
    });

    // 페이지 로드 시 초기 상태 설정
    document.addEventListener('DOMContentLoaded', function () {
        const toggle = document.getElementById('algorithm-toggle');
        toggleContentVisibility(toggle.checked);
    });

    function toggleContentVisibility(isChecked) {
        const toggleContents = document.querySelectorAll('.toggle-content');
        toggleContents.forEach(toggleContent => {
            if (isChecked) {
                toggleContent.textContent = '[가리기]';
            } else {
                toggleContent.textContent = toggleContent.getAttribute('data-original-text');
            }
        });
    }

    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });

    const radio_btn = document.querySelectorAll(".radio_list");
    radio_btn.forEach(radio => {
        radio.addEventListener('click', function () {
            document.getElementById('kw').value = document.getElementById('search_query').value;
            document.getElementById('types').value = radio.value;
            document.getElementById('page').value = 0;
            document.getElementById('searchForm').submit();
        });
    });

    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('kw').value = document.getElementById('search_query').value;
        console.log(document.getElementById('kw').value);
        const selectedRadio = document.querySelector('input[name="radio_list"]:checked');
        if (selectedRadio) {
            document.getElementById('types').value = selectedRadio.value;
        }
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });

    const saved_elements = document.getElementsByClassName("save-button");
    Array.from(saved_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("저장 혹은 삭제 하시겠습니까?")) {
                let uri = this.dataset.uri;
                let problemId = this.dataset.uri.split("/")[4];
                let csrfToken = $("meta[name='_csrf']").attr("content");
                let csrfHeader = $("meta[name='_csrf_header']").attr("content");
                let formId = `#saveForm${problemId}`
                let formData = $(formId).serialize();

                console.log(formData)
                $.ajax({
                    type: "POST",
                    url: uri,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    data: formData,
                    success: function (response) {
                        if (response) {
                            alert(`${problemId}을 저장했습니다.`);
                            location.reload();
                        } else {
                            alert(`${problemId}를 제거했습니다.`);
                            location.reload();
                        }
                    },
                    error: function () {
                        alert("오류가 발생했습니다. 잠시 후 다시 시도해주세요.");
                    }
                });
                console.log(element)
            }
        });
    });
</script>
</html>