<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-24 lg:px-6">
            <div class="relative overflow-x-auto">
                <div class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <form method="post" th:object="${questionForm}">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                             role="alert" th:if="${#fields.hasAnyErrors()}">
                                            <span class="font-medium" th:each="err: ${#fields.allErrors()}"
                                                  th:text="${err}"></span>
                        </div>
                        <div>
                            <label for="subject"
                                   class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">제목</label>
                            <input type="text" th:field="*{subject}" required
                                   class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>
                        <label for="content"
                               class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">내용</label>
                        <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                            <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                                <textarea id="mk_down_editor" th:field="*{content}" placeholder="내용을 입력하세요."></textarea>
                                <!--                            <textarea th:field="*{content}" rows="10"-->
                                <!--                                      class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-gray-300 dark:text-white dark:placeholder-gray-400"-->
                                <!--                                      placeholder="내용을 입력하세요." required></textarea>-->
                            </div>
                            <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
                                <button type="submit"
                                        class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-purple-700 rounded-lg focus:ring-4 focus:ring-purple-200 dark:focus:ring-purple-900 hover:bg-purple-800">
                                    Post
                                </button>
                                <div class="flex ps-0 space-x-1 rtl:space-x-reverse sm:ps-2">
                                </div>
                            </div>
                        </div>
                    </form>
                    <p class="ms-auto text-xs text-gray-500 dark:text-gray-400">Remember, contributions to this topic
                        should
                        follow <a href="#" class="text-purple-600 dark:text-purple-500 hover:underline">Community
                            Honor code</a>.</p>

                </div>
            </div>
        </div>
    </section>
    <!-- 마크 다운 에디터 자바스크립트 -->
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE({element: document.getElementById("mk_down_editor")});
    </script>
</div>
</html>