<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-24 lg:px-6">
            <div class="relative overflow-x-auto">
                <div class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <form class="max-w-sm mx-auto" th:action="@{/user/signup}" th:object="${userCreateForm}"
                          method="post">
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                             role="alert" th:if="${#fields.hasAnyErrors()}">
                                            <span class="font-medium" th:each="err: ${#fields.allErrors()}"
                                                  th:text="${err}"></span>
                        </div>
                        <div class="mb-5">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Email
                            </label>
                            <input type="email" th:field="*{email}"
                                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                                   placeholder="example@handong.edu" required/>
                        </div>
                        <div class="mb-5">
                            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                닉네임
                            </label>
                            <input type="text" th:field="*{username}"
                                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                                   placeholder="솔브드" required/>
                        </div>
                        <div class="mb-5">
                            <label for="password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                비밀번호</label>
                            <input type="password" th:field="*{password1}"
                                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                                   required/>
                        </div>
                        <div class="mb-5">
                            <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                비밀번호 확인</label>
                            <input type="password" th:field="*{password2}"
                                   class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                                   required/>
                        </div>
                        <div class="flex items-start mb-5">
                            <div class="flex items-center h-5">
                                <input id="terms" type="checkbox" value=""
                                       class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                                       required/>
                            </div>
                            <label for="terms" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree
                                to <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">sign up this
                                    site
                                </a></label>
                        </div>
                        <button type="submit"
                                class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">
                            회원가입
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</html>
