<html layout:decorate="~{layout}">
<div layout:fragment="content" class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-24 lg:px-6">
        <div class="relative overflow-x-auto">
            <div class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <input th:field="*{email}"
                       class="email shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                       placeholder="example@handong.edu" required/>
                <button type="submit">submit</button>
            </div>
        </div>
    </div>
</div>
</html>
