<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <section class="bg-white dark:bg-gray-900">
        <div class="items-center max-w-screen-xl px-4 py-8 mx-auto lg:grid lg:grid-cols-4 lg:gap-16 xl:gap-24 lg:py-24 lg:px-6">
            <div class="col-span-2 space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0">
                <div>
                    <svg class="w-10 h-10 mb-2 text-purple-600 md:w-12 md:h-12 dark:text-purple-500" fill="currentColor"
                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <h3 class="mb-2 text-2xl font-bold dark:text-white">5Min Delay</h3>
                    <p class="font-light text-gray-500 dark:text-gray-400">최소 5분의 갱신 시간이 있습니다.</p>
                </div>
                <div>
                    <svg class="w-10 h-10 mb-2 text-purple-600 md:w-12 md:h-12 dark:text-purple-500" fill="currentColor"
                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path>
                    </svg>
                    <h3 class="mb-2 text-2xl font-bold dark:text-white">10+ Users</h3>
                    <p class="font-light text-gray-500 dark:text-gray-400">5분마다 500문제 기준 약 10명 갱신합니다.</p>
                </div>
            </div>
            <div class="col-span-2 mb-8">
                <div id="accordion-color" data-accordion="collapse"
                     data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white">
                    <h2 id="accordion-color-heading-1">
                        <button type="button"
                                class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                                data-accordion-target="#accordion-color-body-1" aria-expanded="true"
                                aria-controls="accordion-color-body-1">
                            <span>사이트 정보 갱신 방법이 궁금해요!</span>
                            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M9 5 5 1 1 5"/>
                            </svg>
                        </button>
                    </h2>
                    <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
                        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                            <p class="mb-2 text-gray-500 dark:text-gray-400">
                                <a
                                        href="https://solved.ac/" target="_blank"
                                        class="text-blue-600 dark:text-blue-500 hover:underline">Solved.ac</a>의
                                API값을 참조하여 5분마다 갱신합니다.</p>
                            <p class="text-gray-500 dark:text-gray-400">사이트 자체를 크롤링하기보다는 플러그인 소스 코드 역공학을 이용해 API
                                endpoint를
                                얻어가라고 하셔서 API값을 참조하게 되었습니다.</p>
                            <p class="mb-2 text-gray-500 dark:text-gray-400">
                                <a
                                        href="https://github.com/solvedac/unofficial-documentation" target="_blank"
                                        class="font-bold hover:underline">관련 설명 Github 링크</a>
                            </p>
                        </div>
                    </div>
                    <h2 id="accordion-color-heading-2">
                        <button type="button"
                                class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                                data-accordion-target="#accordion-color-body-2" aria-expanded="false"
                                aria-controls="accordion-color-body-2">
                            <span>간격, 폰트, 디자인이 이상해요</span>
                            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M9 5 5 1 1 5"/>
                            </svg>
                        </button>
                    </h2>
                    <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
                        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                            <p class="mb-2 text-gray-500 dark:text-gray-400">디자인 감각이 없어서 TailWind와 FlowBite를 사용하여
                                디자인하였습니다.</p>
                            <p class="text-gray-500 dark:text-gray-400"><a
                                    href="https://www.tailwindawesome.com/resources/landwind"
                                    class="text-blue-600 dark:text-blue-500 hover:underline">LandWind</a>
                                에서 템플릿을 따와 디자인 했는데.. 프론트가 처음이라 만질 수록 이상해지네요 ㅎㅎ..
                            </p>
                        </div>
                    </div>
                    <h2 id="accordion-color-heading-3">
                        <button type="button"
                                class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                                data-accordion-target="#accordion-color-body-3" aria-expanded="false"
                                aria-controls="accordion-color-body-3">
                            <span>사용된 기술 스택이 궁금합니다!</span>
                            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M9 5 5 1 1 5"/>
                            </svg>
                        </button>
                    </h2>
                    <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
                        <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
                            <p class="mb-2 text-gray-500 dark:text-gray-400">API-DB 파이프라인과 백엔드, 프론트로 나누어 설명하면 아래와 같습니다.
                                :)</p>
                            <p class="mb-2 text-gray-500 dark:text-gray-400 font-bold">
                                파이프라인 (lang: <a href="https://www.python.org/" rel="nofollow" target="_blank"
                                                class="text-blue-600 dark:text-blue-500 hover:underline">Python </a>)
                            </p>
                            <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                                <li><a href="https://www.rabbitmq.com/" target="_blank"
                                       class="text-blue-600 dark:text-blue-500 hover:underline">RabbitMQ</a></li>
                            </ul>
                            <p class="mb-2 text-gray-500 dark:text-gray-400 font-bold">
                                백엔드 (lang: <a href="https://flowbite.com/pro/" target="_blank"
                                              class="text-blue-600 dark:text-blue-500 hover:underline">Java</a>)
                            </p>
                            <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                                <li><a href="https://www.mysql.com/" target="_blank"
                                       class="text-blue-600 dark:text-blue-500 hover:underline">MySql</a></li>
                                <li><a href="https://spring.io/projects/spring-boot" rel="nofollow" target="_blank"
                                       class="text-blue-600 dark:text-blue-500 hover:underline">Spring Boot</a></li>
                                <li><a href="https://aws.amazon.com/ko/" rel="nofollow" target="_blank"
                                       class="text-blue-600 dark:text-blue-500 hover:underline">AWS LightSail</a></li>
                            </ul>
                            <p class="mb-2 text-gray-500 dark:text-gray-400 font-bold">
                                프론트
                            </p>
                            <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                                <li><a href="https://www.thymeleaf.org/" target="_blank"
                                       class="text-blue-600 dark:text-blue-500 hover:underline">Thymeleaf</a></li>
                                <li><a href="https://tailwindui.com/" rel="nofollow" target="_blank"
                                       class="text-blue-600 dark:text-blue-500 hover:underline">TailWind</a></li>
                                <li><a href="https://flowbite.com/" rel="nofollow" target="_blank"
                                       class="text-blue-600 dark:text-blue-500 hover:underline">FlowBite</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="bg-gray-50 dark:bg-gray-800">
        <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
            <!-- Row -->
            <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
                <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                    <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">사이트 개설 배경</h2>
                    <p class="mb-8 font-light lg:text-lg">백준에 학교/회사 랭킹이 있는거 알고 계셨나요?<br> 어느 날 밀려나는 순위를 올릴 방법이 없을까
                        고민했습니다.<br>
                        첫 프로젝트는 flutter로 개발했지만, API호출 횟수와 firebase R/W 횟수 제한으로 실패한 프로젝트가 되었습니다.
                        <br> 그래서 이번에 새로 도전하게 되었습니다.</p>
                    <p>Version2의 차이점</p>
                    <!-- List -->
                    <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                        <li class="flex space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">파이프라인을 통한 api호출 및 db 갱신 자동화</span>
                        </li>
                        <li class="flex space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">DB 변경 및 API 호출 횟수 극복</span>
                        </li>
                        <li class="flex space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">확대된 기능과 편의성~!</span>
                        </li>
                    </ul>
                    <p class="mb-8 font-light lg:text-lg">Version 2.1에서 원하는 기능이 있다면 issue나 게시판 글 남겨주세요!</p>
                </div>
                <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="/images/prev_design.png"
                     alt="과거 flutter로 개발한 ver1. 초기 디자인">
            </div>
        </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
            <!-- Row -->
            <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
                <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="/images/logos.jpg"
                     alt="dashboard feature image">
                <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                    <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">About Me</h2>
                    <p class="mb-8 font-light lg:text-xl">사이트 관련 문의 사항은 아래 메일로 보낼 수 있습니다!</p>
                    <!-- List -->
                    <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                        <li class="flex space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">fpqpsxh@naver.com</span>
                        </li>
                        <li class="flex space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white"><a
                                    href="https://readble-ko.tistory.com/" target="_blank" class="hover:underline">블로그 링크</a></span>
                        </li>
                        <li class="flex space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white"><a
                                    href="https://github.com/readable-ko/" target="_blank" class="hover:underline">GitHub 링크</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var accordionButtons = document.querySelectorAll('[data-accordion-target]');

        accordionButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var targetId = this.getAttribute('data-accordion-target');
                var targetElement = document.querySelector(targetId);

                if (targetElement) {
                    targetElement.classList.toggle('hidden');

                    // 아이콘 회전
                    var icon = this.querySelector('[data-accordion-icon]');
                    if (icon) {
                        icon.classList.toggle('rotate-180');
                    }
                }
            });
        });
    });

</script>
</html>