<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- Social media share -->
    <meta property="og:title" content="UGH - Unsolved Guideline for HGU">
    <meta property="og:site_name" content="UGH">
    <meta property="og:url"
          content="https://private-user-images.githubusercontent.com/70497430/345882415-827f036e-4323-4658-9e4a-7f0b51d4e309.png">
    <meta property="og:description" content="Get start problem solving with a UGH.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/logo.svg">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">
    <title>사이트 이용 약관</title>
</head>
<body>
<h2><strong><span style="color:#222222;font-size:12pt;">제1장 이용계약 체결 및 서비스 이용</span></strong></h2>
<h3><strong><span style="color:#222222;background-color:#ffffff;font-size:10pt;">제 1 조 (이용계약의 체결 및 적용)</span></strong>
</h3>
<ul>
    <li style="list-style-type:none;color:#222222;font-size:10pt;">
        <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">①</span><span
                style="color:#222222;background-color:#ffffff;font-size:10pt;">회원이 되고자 하는 이용자는 UGH와 서비스 이용계약을 체결하여야 합니다. 서비스 이용계약은 이용자가 본 약관과 서비스의 제공에 필요한 개인정보의 수집 및 이용에 동의하여 이용신청을 하면 UGH가 이를 승낙함으로써 체결됩니다.</span>
        </p>
    </li>
    <li style="list-style-type:none;color:#222222;font-size:10pt;">
        <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">②</span><span
                style="color:#222222;background-color:#ffffff;font-size:10pt;">UGH는 회원에 대하여 「청소년보호법」 등 관련 법령 및/또는 UGH의 정책에 따라 연령별 서비스 이용 제한이나 회원의 등급별 서비스 이용 제한을 할 수 있고, 본인인증 절차를 거치도록 할 수 있습니다. 또한 UGH는 회원이 만19세 미만 열람 불가등급의 콘텐츠를 이용하고자 하는 경우, 관련 법령 및/또는 UGH의 정책에 따라 회원의 연령 및 본인 여부를 확인합니다.</span>
        </p>
    </li>
    <li style="list-style-type:none;color:#222222;font-size:10pt;">
        <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">③</span><span
                style="color:#222222;background-color:#ffffff;font-size:10pt;">UGH는 이용자가 회원 등록화면에서 UGH가 요구하는 사항들을 정확히 기재하고, 카카오계정 이메일 주소의 인증 등 UGH가 정한 인증 절차를 완료한 경우 이용자의 서비스 이용 신청을 승낙합니다. 다만, UGH는 아래 각 호에 해당하는 사유가 발생한 경우 이용자의 서비스 이용 신청에 대한 승낙을 유보하거나, 이용신청에 대한 승낙을 한 이후에도 회원의 서비스 이용을 제한하거나 이용계약을 해지(회원 탈퇴 처리를 포함)할 수 있으며, 회원의 부정한 이용신청으로 인하여 UGH에 손해가 발생한 경우 해당 회원을 상대로 그 손해에 대한 배상을 청구할 수 있습니다.</span>
        </p>
        <ul>
            <li style="list-style-type:none;color:#222222;font-size:10pt;">
                <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">1.</span><span
                        style="color:#222222;background-color:#ffffff;font-size:10pt;">이용자가 본인의 실명이 아닌 이름 또는 타인의 명의를 도용하여 서비스 이용 신청을 한 경우</span>
                </p>
            </li>
            <li style="list-style-type:none;color:#222222;font-size:10pt;">
                <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">2.</span><span
                        style="color:#222222;background-color:#ffffff;font-size:10pt;">회원 등록화면에 허위의 정보를 기재하거나, UGH가 요청하는 내용을 기재하지 않은 경우</span>
                </p>
            </li>
            <li style="list-style-type:none;color:#222222;font-size:10pt;">
                <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">3.</span><span
                        style="color:#222222;background-color:#ffffff;font-size:10pt;">만 14세 미만의 이용자가 본 약관 및 서비스의 제공에 필요한 개인정보의 수집 및 이용에 대한 동의와 관련하여 이용자의 법정대리인(부모 등)의 동의를 얻지 아니한 경우</span>
                </p>
            </li>
            <li style="list-style-type:none;color:#222222;font-size:10pt;">
                <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">4.</span><span
                        style="color:#222222;background-color:#ffffff;font-size:10pt;">미성년인 이용자가 「청소년보호법」 등 관련법령에 의해서 이용이 금지되는 서비스를 이용하고자 하는 경우</span>
                </p>
            </li>
            <li style="list-style-type:none;color:#222222;font-size:10pt;">
                <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">5.</span><span
                        style="color:#222222;background-color:#ffffff;font-size:10pt;">사회의 안녕질서 또는 미풍양속을 저해할 목적으로 서비스에 대한 이용을 신청한 경우</span>
                </p>
            </li>
            <li style="list-style-type:none;color:#222222;font-size:10pt;">
                <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">6.</span><span
                        style="color:#222222;background-color:#ffffff;font-size:10pt;">UGH가 서비스 사업권 등을 허락 받지 아니한 국가에 거주, 체류 중인 이용자이거나, 그러한 국가의 인터넷 주소 등을 통해 서비스 이용 신청을 하는 경우</span>
                </p>
            </li>
            <li style="list-style-type:none;color:#222222;font-size:10pt;">
                <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">7.</span><span
                        style="color:#222222;background-color:#ffffff;font-size:10pt;">범죄행위를 목적으로 서비스 이용 신청을 하였거나, 일정 기간 동안에 회원 가입, 탈퇴를 반복하는 등 정상적인 서비스 이용을 위한 목적으로 서비스 이용 신청을 하지 아니한 것이 명백한 경우</span>
                </p>
            </li>
            <li style="list-style-type:none;color:#222222;font-size:10pt;">
                <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">8.</span><span
                        style="color:#222222;background-color:#ffffff;font-size:10pt;">UGH의 서비스 제공을 방해하는 등의 사유로 과거에 회원자격이 상실(탈퇴)된 이력이 있는 이용자가 서비스 이용 신청을 한 경우</span>
                </p>
            </li>
            <li style="list-style-type:none;color:#222222;font-size:10pt;">
                <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">9.</span><span
                        style="color:#222222;background-color:#ffffff;font-size:10pt;">UGH의 회원 자격을 상실하는 경우</span></p>
            </li>
            <li style="list-style-type:none;color:#222222;font-size:10pt;">
                <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">10.</span><span
                        style="color:#222222;background-color:#ffffff;font-size:10pt;">기타 회원의 귀책사유로 인하여 UGH가 서비스 이용 신청에 대한 승인이 불가하다고 판단한 경우</span>
                </p>
            </li>
        </ul>
    </li>
</ul>
<h3><strong><span style="color:#222222;background-color:#ffffff;font-size:10pt;">제 2 조 (회원 정보의 제공 및 변경)</span></strong>
</h3>
<ul>
    <li style="list-style-type:none;color:#222222;font-size:10pt;">
        <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">①</span><span
                style="color:#222222;background-color:#ffffff;font-size:10pt;">회원은 본 약관에 의하여 UGH에 회원에 대한 정보를 제공하여야 하는 경우에는 진실된 정보를 제공하여야 하며, 회원이 허위정보를 제공함으로 인해 발생한 불이익에 대해서는 보호받지 못합니다.</span>
        </p>
    </li>
    <li style="list-style-type:none;color:#222222;font-size:10pt;">
        <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">②</span><span
                style="color:#222222;background-color:#ffffff;font-size:10pt;">회원은 회원가입 신청 시 기재한 사항이 변경되었을 경우 즉시 온라인을 통해 수정을 하거나 전자메일을 통한 통지 기타 방법으로 UGH에 그 변경사항을 알려야 합니다.</span>
        </p>
    </li>
    <li style="list-style-type:none;color:#222222;font-size:10pt;">
        <p><span style="color:#222222;background-color:#ffffff;font-size:10.5pt;">③</span><span
                style="color:#222222;background-color:#ffffff;font-size:10pt;">회원이 본 조 제2항의 정보 변경 사항을 UGH에 알리지 않아 발생하는 회원 및 기타 제3자의 불이익에 대하여 UGH는 책임지지 않습니다.</span>
        </p>
    </li>
</ul>
<p><br></p>
<p><br></p>
</body>
</html>